.header__logo{
    object-fit: cover;
    height:3em;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom:1px solid #f9f9f9 ;

}
.header__icon{

    cursor: pointer;
}